@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

$primary-color: #bb472a;
$secondary-color: #947203;

body {
    font-family: 'Roboto', 'Helvetica', 'sans-serif';
    margin: 0;
}

header {
    height: 100px;
    border-bottom: 1px solid #666;
    background: linear-gradient(180deg, $primary-color, #000);
    padding-top: 10px;

    h1 {
        text-align: center;
        color: #fff;
        margin: auto;
    }

    nav {
        margin: 0;
        vertical-align: baseline;
    
        li {
            display: inline-block;
            list-style: none;
            margin: 0 10px;
            vertical-align: baseline;
            font-size: 1.2rem;
            :hover {
                color: $secondary-color;
            }
    
            a {
                color: #fff;
                text-decoration: none
            }
        } 
    }
}

#main-content {
    width: 80%;
    margin: auto;

    .content {
        width: 80%;
        margin: 30px auto;
        border-bottom: 1px solid $primary-color;
        padding-bottom: 20px;

        .galery {
            img {
                width: 20%;
                display: inline-block;
                margin: 0 10px;
                border-radius: 3px;
                overflow: hidden;
            }
        }

        h2 {
            color: $primary-color;
            font-size: 1.2rem;
            display: block;
            font-weight: 600;
            margin-top: 20px;
        }

        img {
            width: 100%;
        }
    }
}

footer {
    position: absolute;
    background: linear-gradient(180deg, #3a3a3a, #bbb);
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;

    .social-media {
        width: 100%;
        display: flex;
        justify-content: center;

        &-icon {
            width: 35px;
            margin: 15px 10px;
        }
    }
}